@model BooksListDTO
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var isPrintedSelectList = new SelectList(new List<SelectListItem> {
            new SelectListItem {Text = "Basılı", Value = "True"},
            new SelectListItem {Text = "Online", Value = "False"},}, "Value", "Text"); 

    var availableSelectList = new SelectList(new List<SelectListItem> {
            new SelectListItem {Text = "Mevcut", Value = "True"},
            new SelectListItem {Text = "Mevcut Değil", Value = "False"},}, "Value", "Text");
}

<style>
    input[type=checkbox] {
        transform: scale(1.7);
        margin-right: 10px;
    }

   
</style>
<h2 class="page-title">Create Book Record</h2>

<div class="portlet box">
    <div class="portlet-body form">
        <!--begin form-->
        <form action="/BooksPanel/Create" method="post" id="form_sample_2" class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>Please fill the required fields
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-icon right">
                                    @if (Model != null)
                                    {
                                        <input type="text" maxlength="200" class="form-control" value="@Model.BookName" name="BookName" placeholder="Book Name" required />
                                    }
                                    else
                                    {
                                        <input type="text" maxlength="200" class="form-control" placeholder="Book Name" name="BookName" required />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-icon right">
                                    @if (Model != null)
                                    {
                                        <input type="text" maxlength="200" class="form-control" value="@Model.AuthorName" placeholder="Author Name" name="AuthorName" required />
                                    }
                                    else
                                    {
                                        <input type="text" maxlength="200" class="form-control" name="AuthorName" placeholder="Author Name" required />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-icon right">
                                    @if (Model != null)
                                    {
                                        <input type="text" maxlength="11" class="form-control" value="@Model.Barcode" placeholder="Barcode" name="Barcode" required />
                                    }
                                    else
                                    {
                                        <input type="text" maxlength="11" class="form-control" name="Barcode" placeholder="Barcode" required />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Campus</label>
                            <div class="col-md-9">
                                @Html.DropDownList("CampusID", null, "Kampüs seçiniz", new { @class = "form-control ", @id = "CampusID", @name = "CampusID", @required = true })
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="row">
                    <div class="form-group">
                        
                        <div class="col-md-11"style="margin-left:15px;" >

                            @if (Model != null)
                            {
                                <textarea type="text" rows="4" maxlength="1000" class="form-control" value="@Model.Summary" placeholder="Book Summary" name="Summary" required></textarea>
                            }
                            else
                            {
                                <textarea type="text" rows="4" maxlength="1000" class="form-control" name="Summary" placeholder="Book Summary" required></textarea>
                            }
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12"  style="margin-left:15px;">
                                @Html.DropDownList("ResourceTypeID", null, "Select type of resource", new { @class = "form-control ", @id = "ResourceTypeID", @name = "ResourceTypeID", @required = true })
                            </div>
                        </div>
                    </div>
                    
                </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">

                                @Html.DropDownListFor(m => m.IsAvailable, availableSelectList, "Select is Available", new { @class = "form-control ", @required = true })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">

                                @Html.DropDownListFor(m => m.IsPrinted, isPrintedSelectList, "Select Is Printed", new { @class = "form-control ", @required = true })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="pull-left col-md-3">
                                <a href="/BooksPanel/Index" class="btn red">Cancel</a>
                                <button id="btnSave" type="button" name="Save" class="btn blue">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            @if (ViewBag.Error == "Error")
            {
                 @: toastr.error("The book could not be saved", "New book Registration");

            }

            //Form Submit
            var allowSubmit = true;
            $("#btnSave").click(function () {
                if (allowSubmit) {
                    submitform();
                }
            })
            function submitform() {
                if ($('#form_sample_2').valid())
                {
                    allowSubmit = false;
                    document.getElementById('form_sample_2').submit();
                }
            }
        });
    </script>
}



