@model BooksListDTO
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var isPrintedSelectList = new SelectList(new List<SelectListItem> {
            new SelectListItem {Text = "Basılı", Value = "True"},
            new SelectListItem {Text = "Online", Value = "False"},}, "Value", "Text");

    var availableSelectList = new SelectList(new List<SelectListItem> {
            new SelectListItem {Text = "Mevcut", Value = "True"},
            new SelectListItem {Text = "Mevcut Değil", Value = "False"},}, "Value", "Text");

    var selectList = new SelectList(new List<SelectListItem> {
            new SelectListItem {Text = "Aktif", Value = "True"},
            new SelectListItem {Text = "Pasif", Value = "False"},}, "Value", "Text");
}

<h2 class="page-title">Edit Book Record </h2>

<div class="portlet box">
    <div class="portlet-body form">
        <!--begin form-->
        <form action="/BooksPanel/Edit" method="post" id="form_sample_2" class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.BookID)
            @Html.HiddenFor(model => model.BookDetailsID)
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> Please fill the required fields.
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-icon right">

                                    <input type="text" maxlength="200" class="form-control" value="@Model.BookName" placeholder="Book Name" name="BookName" required />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-icon right">

                                    <input type="text" maxlength="200" class="form-control" value="@Model.AuthorName" placeholder="Author Name" name="AuthorName" required />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-icon right">

                                    <input type="text" maxlength="11" class="form-control" value="@Model.Barcode" placeholder="Barcode" name="Barcode" required />

                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">Campus</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(Model => Model.CampusID, new SelectList(ViewBag.Campuses, "CampusID", "CampusName"), "Kampüs seçiniz", new { @id = "CampusID", @class = "form-control", @required = true })

                        </div>
                    </div>
                </div>*@
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">

                            <textarea type="text" rows="4" maxlength="1000" class="form-control" value="@Model.Summary" placeholder="Book Summary" name="Summary" required>@Model.Summary</textarea>

                        </div>
                    </div>
                    <div class="row">


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">

                                @Html.DropDownListFor(m => m.IsAvailable, availableSelectList, "Select Is Available", new { @class = "form-control ", @required = true })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.DropDownListFor(Model => Model.ResourceTypeID, new SelectList(ViewBag.ResourceTypes, "ResourceTypeID", "ResourceTypeName"), "Select Resource Type", new { @id = "ResourceTypeID", @class = "form-control", @required = true })

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">

                                @Html.DropDownListFor(m => m.IsPrinted, isPrintedSelectList, "select is Printed", new { @class = "form-control ", @required = true })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">

                                @Html.DropDownListFor(m => m.IsActive, selectList, "Select Is active", new { @class = "form-control ", @required = true })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="pull-left col-md-3">
                                <a href="/BooksPanel/Index" class="btn red">Cancel</a>
                                <button id="btnSave" type="button" name="Save" class="btn blue">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        @if(ViewBag.Error == "Error")
        {
            @: toastr.error("Failed to update book record", "Edit Book Record");
        }

            //Form Submit
            var allowSubmit = true;
            $("#btnSave").click(function () {
                if (allowSubmit) {
                    submitform();
                }
            })
            function submitform() {
                if ($('#form_sample_2').valid()) {
                    allowSubmit = false;
                    document.getElementById('form_sample_2').submit();
                }
            }
    });
    </script>
}
