@model CampusReportDTO
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
        }

        .center {
            text-align: center !important;
        }

        table, th, td {
            position: relative;
            margin: auto;
            padding: 5px !important;
            text-align: left;
        }
    </style>
    <style>
        @@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,600,800,900&subset=latin-ext');
    </style>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <title>Library System</title>
</head>
<body>
    <br /><br />
    <div class="caption" style="margin-top:50px;">
       
    </div>
    <br />
    <div class="row" style="margin:50px;">
        
        
        <p> Below you can find the Library system report between <b>@Model.DateStart - @Model.DateFinish</b>.</p>
        
        
    </div>
    <div class="row">
        <div style="align-content:center;">
            <table style="min-width:400px; width:400px;">
                <tr>
                    <td>Campus Name</td>
                    <td><b>@Model.CampusName</b></td>
                </tr>
                <tr>
                    <td>Total Books Count</td>
                    <td><b>@Model.BooksCount </b>Books </td>
                </tr>
                <tr>
                    <td>Available Books Count</td>
                    <td><b>@Model.AvailableBooksCount </b>Books</td>
                </tr>
                <tr>
                    <td>Borrowed Books Count</td>
                    <td><b>@Model.BorrowedBooksCount </b>Books </td>
                </tr>
            </table>
        </div>
    </div>
    
    
    

</body>
</html>